<div class="container text-center">

 <div class="containers">
  <h1>Question ?</h1>
  <p><%= @question %></p>
 </div>

 <div class="containers">
  <h1>Réponse !</h1>
  <p><%= @answer %></p>
 </div>

</div>


