<div class="container text-center">
  <h1>Question ?</h1>
  <form class="containers" action="/coaching/answer">
    <label for="question">How can i help ?</label>
    <input type="text" name= "question" >
    <input type="submit" >
  </form>
</div>

